@model CrudAppUsindADO.Models.EmployeeDetailsViewModel

<div class="container mt-5 bg-image">
    <div class="bg-primary p-3 rounded mb-4 text-center text-white">
        <h2>Student Details</h2>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="text-center mb-4">Student Information</h4>
            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Employee.Name)</dd>

                <dt class="col-sm-3">City</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Employee.City)</dd>

                <dt class="col-sm-3">Pincode</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Employee.Pincode)</dd>
            </dl>
        </div>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h4 class="text-center mb-4">Subjects</h4>
            <table class="table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Subject Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Subjects)
                    {
                        <tr>
                            <td>@item.SubjectName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-secondary">Back to Student Section</a>
    </div>
</div>
